/* 여백제거 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* li장식제거 */
li {
  list-style: none;
}

/* a링크 밑중 및 글자색 변경 */
a {
  text-decoration: none;
  color: #1a1a1a;
}

/* 이미지, 비디오 위아래 정렬 */
img, video {
  vertical-align: middle;
}

/* em, i, address 글씨체 초기화 */
em, i, address {
  font-style: normal;
}

body {
  font-family: pretendard, "돋음" , sans-serif;
  font-size: 16px;
  color: #111;
}